/* Position and sizing of burger button */
.bm-burger-button {
  display: none;
  position: fixed;
  width: 46px;
  height: 40px;
  right: 36px;
  top: 22px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #E4E4E4;

}


/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #c7bdc4;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;

}

/* General sidebar styles */
.bm-menu {
  background: -o-linear-gradient(348.44deg, #303030 1.56%, #1d1d1d 95.55%);
  background: linear-gradient(101.56deg, #303030 1.56%, #1d1d1d 95.55%);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;

}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* justify-content: space-between; */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* Individual item */
.bm-item {
  display: inline-block;
  color: #d1d1d1;
  margin-bottom: 10px;
  text-align: left;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}


/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);

}

.list-items--sidebar {
  margin-top: 20px;
  list-style-type: none;

}

.list-item--sidebar {
  margin-top: 15px;
  cursor: pointer;
}

.menu-title {
  text-align: right;
  padding-right: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 35px;
  line-height: 54px;
  color: #ffffff;
  text-transform: uppercase;
  background:
    -webkit-gradient(linear,
      left top, right top,
      from(rgba(255, 0, 0, 1)),
      color-stop(rgba(255, 0, 180, 1)),
      to(rgba(0, 100, 200, 1)));
  background:
    -o-linear-gradient(left,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1));
  background:
    linear-gradient(to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1));
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  width: 123%;
}


.social--sidebar,
.download-cv--sidebar {
  visibility: hidden;
  opacity: 0;
}