/* HEADER MAIN */

.main {
  width: 447px;
}

.hello {
  display: inline;
  float: left;
  margin: 0;
}

.main-title {
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: bold;
  font-size: 72px;
  line-height: 82px;
  text-transform: uppercase;
  margin: 27px 0;
}

.main-description {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 30px;
}



.main-button {
  font-weight: bold;
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  padding: 14px 38px;
  background-color: #E2A300;
  background: -o-linear-gradient(2.68deg, #E2A300 4.47%, #E29500 95.53%);
  background: linear-gradient(87.32deg, #E2A300 4.47%, #E29500 95.53%);
  -webkit-box-shadow: 0px 2px 13px rgba(226, 158, 0, 0.48);
  box-shadow: 0px 2px 13px rgba(226, 158, 0, 0.48);
  border-radius: 6px;
  text-transform: uppercase;
  border: 0;
  cursor: pointer;
  -webkit-transition: all .4s ease 0s;
  -o-transition: all .4s ease 0s;
  transition: all .4s ease 0s;
}



.hello-container {
  font-weight: 600;
  font-size: 43px;
  line-height: 54px;
  font-family: 'Montserrat-Bold', sans-serif;
  overflow: hidden;
  position: relative;
  top: 0;
  left: -5px;
  height: 60px;
  padding: 0 40px;
  text-transform: uppercase;

}

.hello-container::before {
  content: '[';
  left: 0;
}

.hello-container::after {
  content: ']';
  right: 0;
  ;
}

.hello-container::before,
.hello-container::after {
  position: absolute;
  top: 0;
  color: #16a085;
  font-size: 56px;
  line-height: 46px;
  -webkit-animation-name: opacity;
  animation-name: opacity;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.hello-items {
  margin-top: 0;
  padding-left: 205px;
  text-align: left;
  list-style: none;
  -webkit-animation-name: change;
  animation-name: change;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}