@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Montserrat:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #E4E4E4;
  font-family: 'Comfortaa', cursive;
  background: linear-gradient(101.56deg, #2C2C2C 1.56%, #1C1C1C 95.55%);
  overflow-x: hidden;


}

input:focus,
textarea:focus {
  outline: none;

}

button {
  border: none;
}