@import-normalize
@import 'fonts'

body
  color: #E4E4E4
  font-family: Comfortaa, cursive
  background-color: #2C2C2C
  background: linear-gradient(101.56deg, #2C2C2C 1.56%, #1C1C1C 95.55%)
  overflow-x: hidden

input:focus,
textarea:focus
  outline: none

button
  border: none
