* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-display: swap;
  font-family: 'Comfortaa-Light';
  src: url('/public/fonts/Comfortaa-Light.woff') format('woff'),
    url('/public/fonts/Comfortaa-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat-Regular';
  src: url('/public/fonts/Montserrat-Regular.woff') format('woff'),
    url('/public/fonts/Montserrat-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat-Bold';
  src: url('/public/fonts/Montserrat-Bold.woff') format('woff'),
    url('/public/fonts/Montserrat-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}



body {
  color: #E4E4E4;
  font-family: 'Comfortaa-Light', cursive;
  background-color: #2C2C2C;
  background: -o-linear-gradient(348.44deg, #2C2C2C 1.56%, #1C1C1C 95.55%);
  background: linear-gradient(101.56deg, #2C2C2C 1.56%, #1C1C1C 95.55%);
  overflow-x: hidden;


}

input:focus,
textarea:focus {
  outline: none;

}

button {
  border: none;
}