@media (any-hover: hover) {
  .to-top:hover {
    background: #dadada;
  }

  .download-cv:hover {
    background-color: #E2A300;
    -webkit-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
    border: 1px solid #E2A300;
    color: #000;

  }

  .main-button:hover {
    opacity: .9;
    -webkit-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
  }

  .contacts-button:not([disabled]):hover {
    background-color: transparent;
    border: 2px solid #8652da;
    color: #8652da;
  }

  .portfolio-button:hover {
    border: 2px solid #8652da;
    background-color: transparent;
    color: #8652da;
  }

  .contact-link:hover {
    color: #E2A300;
    -webkit-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
  }

  .item-link:hover:before,
  .item-link:hover .item {
    opacity: 1;
  }


  .item-link:hover:before {
    top: 50%;
  }

  .item-link:hover .item {
    top: 0;
  }

  .item-link:hover .item-title {
    -webkit-transition-delay: 0.15s;
    -o-transition-delay: 0.15s;
    transition-delay: 0.15s;
  }


  .item-link:hover .item-info {
    -webkit-transition-delay: 0.25s;
    -o-transition-delay: 0.25s;
    transition-delay: 0.25s;
  }


}


@media(max-width: 1200px) {
  .portfolio-item {
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
  }

  .hero-image-contact {
    max-width: 550px;
    top: 58px;
  }

  .contacts-form,
  .success-form {
    max-width: 400px;
  }

  .promocode-wrapper {
    width: 330px;
  }

  .promocode-wrapper::after {
    left: 280px;
  }

  .promocode {
    font-size: 32px;
  }



  .square {
    border-width: 30px;
    width: 300px;
    height: 300px;
    bottom: 180px;
    right: 110px;
  }


  .square::after {
    width: 120px;
    height: 120px;
    bottom: 160px;
    right: 350px;
  }

  .square::before {
    width: 55px;
    height: 55px;
    left: 60px;
    bottom: 350px;
  }

  .success-title {
    font-size: 30px;
    text-align: center;
  }

  .message-wrapper:before {
    top: 20px;
    left: 180px;

  }

  .message-wrapper::after {
    top: 20px;
    right: 130px;

  }



}

@media(max-width: 1024px) {
  .btn {
    padding: 13px 35px;
    font-size: 16px;
  }

  .portfolio-item {
    width: 300px;
    height: 375px;
  }

  .portfolio {
    padding: 100px 0;
  }

  .item-info {
    font-size: 13px;
  }

  .hero-image-contact {
    width: 450px;
  }

  .contacts-form,
  .success-form {
    width: 360px;
    height: 450px;
  }


  .contact-title {
    font-size: 29px;
  }

  .input {
    margin-top: 15px;
  }

  .input::-webkit-input-placeholder {
    font-size: 15px;
  }

  .input::-moz-placeholder {
    font-size: 15px;
  }

  .input:-ms-input-placeholder {
    font-size: 15px;
  }

  .input::-ms-input-placeholder {
    font-size: 15px;
  }

  .input::placeholder {
    font-size: 15px;
  }

  .square {
    border-width: 26px;
    width: 270px;
    height: 270px;
    bottom: 120px;
    right: 90px;
  }


  .square::after {
    width: 100px;
    height: 100px;
    bottom: 260px;
    right: 300px;
  }

  .square::before {
    width: 55px;
    height: 55px;
    left: 60px;
    bottom: 300px;
  }

  .message-wrapper:before {
    top: 20px;
    left: 100px;

  }

  .message-wrapper::after {
    top: 20px;
    right: 70px;

  }

}

@media (max-width: 895px) {
  .btn {
    padding: 11px 32px;
    font-size: 15px;
  }

  .portfolio-item {
    width: 225px;
    height: 310px;
  }

  .contact-wrapper {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

  }

  .contacts-form,
  .success-form {
    -ms-flex-item-align: start;
    align-self: flex-start;
  }

  .contacts-wrapper-hero {
    -ms-flex-item-align: end;
    align-self: flex-end;
    margin-right: 5%;

  }

  .name {
    font-size: 18px;
  }

  .hero-image-contact {
    margin-top: 20px;
    top: 49px;
    width: 400px;
    height: 400px;

  }

  .square {
    border-width: 26px;
    width: 270px;
    height: 270px;
    bottom: 70px;
    left: 90px;
  }


  .square::after {
    width: 120px;
    height: 120px;
    bottom: 450px;
    right: 300px;
  }

  .square::before {
    width: 75px;
    height: 75px;
    left: -20px;
    bottom: 365px;
  }

  .success-form {
    width: 350px;
  }

  .promocode-wrapper {
    width: 300px;
    height: 300px;
  }

  .promocode-wrapper::after {
    bottom: -25px;
    left: 250px;
  }

  .promocode-wrapper::before {
    top: -15px;
    left: -20px
  }

  .item-title {
    font-size: 18px;
  }

  .item-info {
    display: none;
  }

  .success-subtitle {
    font-size: 16px;
  }

  .promocode {
    font-size: 30px;
  }

  .message-wrapper:before {
    top: 20px;
    left: 70px;

  }

  .message-wrapper::after {
    top: 20px;
    right: 40px;


  }

}


@media (max-width: 685px) {

  .portfolio-items {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

  }

  .portfolio-item {
    -ms-flex-preferred-size: 45%;
    flex-basis: 45%;
  }


  .item {
    display: none;
  }

  .item-link::before {
    width: 0;
  }


  .portfolio-item:last-child {
    margin-top: 30px;
  }

  .square::after {
    right: 300px;
    bottom: -20px;
  }

  .error {
    font-size: 14px;
  }

  .message-wrapper:before,
  .message-wrapper::after {
    display: none;

  }

}


@media (max-width: 600px) {
  .to-top {
    right: 35px;
  }

  .portfolio {
    padding: 80px 0;
  }

  .contact-title {
    font-size: 27px;
    margin-bottom: 18px;
  }

  .call,
  .write {
    margin-bottom: 6px;
    font-size: 15px;
  }

  .contact-link {
    font-size: 17px;
  }

  .input::-webkit-input-placeholder {
    font-size: 14px;
  }

  .input::-moz-placeholder {
    font-size: 14px;
  }

  .input:-ms-input-placeholder {
    font-size: 14px;
  }

  .input::-ms-input-placeholder {
    font-size: 14px;
  }

  .input::placeholder {
    font-size: 14px;
  }

  .hero-image-contact {
    margin-top: 30px;
    top: 46px;
  }

  .square {
    border-width: 22px;
    width: 220px;
    height: 220px;
    bottom: 70px;
    left: 150px;
  }

  .square::after {
    border-width: 10px;
    width: 100px;
    height: 100px;
    right: 250px;
    bottom: -20px;
  }

  .square::before {
    border-width: 5px;
    width: 50px;
    height: 50px;
    left: 0;
    bottom: 265px;
  }

  .copyright {
    font-size: 14px;
  }

  .duck {
    width: 100px;
    height: 100px;
  }

  .message {
    width: 220px;
  }

  .message-title {
    font-size: 18px;

  }


}

@media(max-width: 495px) {
  .to-top {
    bottom: 40px;
    right: 25px;
  }

  .portfolio-item {
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%;
    margin: 0 0 30px 0;
  }

  .portfolio-item:last-child {
    margin: 0;
  }

  .btn {
    font-size: 14px;
  }

  .portfolio-button {
    width: 270px;

  }

  .contacts-button {
    width: 170px;
  }

  .input {
    padding: 10px 10px 10px 30px;
  }

  .square {
    bottom: 35px;
    left: 75px;
  }

  .square::after {
    top: 0;
    right: 228px;

  }

  .success-form {
    z-index: 3;
  }

  .success-title {
    font-size: 32px;
  }

  .footer-logo {
    width: 24px;
    margin-right: 10px;
  }

  .copyright {
    font-size: 13px;
  }

  .hero-image-contact {
    width: 300px;
    height: 300px;
    top: 38px;
    margin-right: 20px;
  }

  .contacts-wrapper-hero {
    -ms-flex-item-align: end;
    align-self: flex-end;
  }

  .duck {
    width: 90px;
    height: 90px;
  }

  .message-wrapper {
    margin-bottom: 25px;

  }

}

@media(max-width: 395px) {

  .to-top {
    bottom: 45px;
    right: 20px;
    width: 40px;
    height: 40px;
  }

  .to-top-icon {
    width: 20px;
    height: 20px;
  }

  .portfolio-item {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
  }

  .call,
  .write {
    font-size: 13px;
  }

  .contact-link {
    font-size: 14px;
  }

  .contacts-form,
  .success-form {
    max-width: 280px;
  }


  .square {
    border-width: 16px;
    width: 180px;
    height: 180px;
    bottom: 50px;
    left: 50px;

  }

  .square::after {
    display: none;
  }



  .success-form {
    width: 320px;
  }

  .promocode-wrapper {
    width: 240px;
    height: 240px;
  }

  .promocode-wrapper::after,
  .promocode-wrapper::before {
    display: none;
  }

  .success-title {
    font-size: 28px;
  }

  .success-subtitle {
    font-size: 14px;
    margin-bottom: 0;
  }

  .promocode {
    font-size: 22px;
  }


  .contacts-wrapper-hero {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .duck {
    -ms-flex-item-align: end;
    align-self: flex-end;
  }

  .message-wrapper {
    margin-bottom: 30px;
    height: 120px;
  }

  .message {
    width: 190px;
  }

  .message-title {
    font-size: 15px;

  }

}