@media (any-hover: hover) {
  .sass:hover {
    background-color: #cc6699;
    fill: #fff;
    -webkit-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    transform: rotate(25deg);
  }

  .figma:hover {
    background-color: #8652da;
    fill: #fff;
    -webkit-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    transform: rotate(25deg);
  }

  .js:hover {
    background-color: #FFD700;
    fill: #fff;
    -webkit-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    transform: rotate(25deg);
  }

  .react:hover {
    background-color: #61DAFB;
    fill: #fff;
    -webkit-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    transform: rotate(25deg);
  }

  .social-icon:hover {
    fill: #fff;
    -webkit-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);

  }

  .list-item:hover {
    -webkit-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
    color: #ddbc69;

  }

  .to-top:hover {
    background: #dadada;
  }

  .download-cv:hover {
    background-color: #E2A300;
    -webkit-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
    border: 1px solid #E2A300;
    color: #000;

  }

  .main-button:hover {
    opacity: .9;
    -webkit-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
  }

  .contacts-button:not([disabled]):hover {
    background-color: transparent;
    border: 2px solid #8652da;
    color: #8652da;
  }

  .portfolio-button:hover {
    border: 2px solid #8652da;
    background-color: transparent;
    color: #8652da;
  }

  .contact-link:hover {
    color: #E2A300;
    -webkit-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
  }

  .item-link:hover:before,
  .item-link:hover .item {
    opacity: 1;
  }


  .item-link:hover:before {
    top: 50%;
  }

  .item-link:hover .item {
    top: 0;
  }

  .item-link:hover .item-title {
    -webkit-transition-delay: 0.15s;
    -o-transition-delay: 0.15s;
    transition-delay: 0.15s;
  }


  .item-link:hover .item-info {
    -webkit-transition-delay: 0.25s;
    -o-transition-delay: 0.25s;
    transition-delay: 0.25s;
  }


}


@media(max-width: 1200px) {
  .container {
    max-width: 960px;
  }

  .list-items {
    -ms-flex-preferred-size: 45%;
    flex-basis: 45%;
  }

  .hello-container {
    font-size: 40px;
    left: -25px;
  }

  .hello-items {
    padding-left: 190px;

  }

  .hello-container::before,
  .hello-container::after {
    font-size: 40px;
    line-height: 50px;

  }

  .set-background {
    width: 475px;
    height: 475px;
    border-width: 45px;
  }



  .hero-image {
    max-width: 95%;
    bottom: -50px;
  }

  .main {
    width: 425px;
  }

  .main-title {
    font-size: 60px;
    line-height: 70px;
    margin: 20px 0;
  }

  .react {
    left: 385px;
  }

  .sass {
    top: 0;
    right: 360px;
  }

  .figma {
    bottom: 205px;
    right: 440px;
  }

  .js {
    right: 415px;
  }

  .about-me {
    padding: 90px 0 100px 0;
  }



  .about-me-photo--1 {
    top: 100px;
    left: -25px;
  }

  .about-me-photo--2 {
    bottom: -40px;
    left: -25px;
  }

  .about-me-photo--3 {
    top: 450px;
    right: -25px;
  }

  .set-white {
    border-width: 70px;
    width: 600px;
    height: 600px;
  }

  .set-yellow {
    border-width: 30px;
    width: 320px;
    height: 320px;
    top: 30px;
    right: 150px;
  }

  .set-blue {
    border-width: 45px;
    width: 400px;
    height: 400px;
    right: 70px;
    top: 670px;
  }

  .section-title,
  .menu-title {
    font-size: 32px;

  }

  .portfolio-item {
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
  }

  .hero-image-contact {
    max-width: 550px;
    top: 58px;
  }

  .contacts-form,
  .success-form {
    max-width: 400px;
  }

  .promocode-wrapper {
    width: 330px;
  }

  .promocode-wrapper::after {
    left: 280px;
  }

  .promocode {
    font-size: 32px;
  }



  .square {
    border-width: 30px;
    width: 300px;
    height: 300px;
    bottom: 180px;
    right: 110px;
  }


  .square::after {
    width: 120px;
    height: 120px;
    bottom: 160px;
    right: 350px;
  }

  .square::before {
    width: 55px;
    height: 55px;
    left: 60px;
    bottom: 350px;
  }

  .success-title {
    font-size: 30px;
    text-align: center;
  }

  .message-wrapper:before {
    top: 20px;
    left: 180px;

  }

  .message-wrapper::after {
    top: 20px;
    right: 130px;

  }



}

@media(max-width: 1024px) {
  .container {
    max-width: 798px;
  }

  .btn {
    padding: 13px 35px;
    font-size: 16px;
  }


  .header {
    padding-bottom: 50px;
  }

  .logo {
    width: 38px;
    height: 38px;
  }

  .hello-container {
    font-size: 35px;
    left: -20px;
  }

  .hello-items {
    padding-left: 165px;
  }


  .set-background {
    width: 370px;
    height: 370px;
    border-width: 35px;
  }


  .hero-image {
    bottom: -87px;
    max-width: 90%;
  }

  .main {
    width: 380px;
  }

  .main-title {
    font-size: 55px;
    line-height: 65px;
    margin: 10px 0;
  }

  .main-discription {
    font-size: 16px;
  }

  .hard-skills {
    width: 90px;
    height: 90px;
  }

  .react {
    left: 313px;
  }

  .sass {
    top: -17px;
    right: 275px;
  }

  .figma {
    bottom: 165px;
    right: 343px;
  }

  .js {
    right: 315px;
    bottom: 30px;
  }



  .bm-burger-button {
    display: block;
  }

  .list-items {
    display: none;
  }

  .menu-wrapper {
    height: 85px;

  }

  .social {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }

  .about-me {
    padding-top: 100px;
  }

  .about-me-information {
    font-size: 18px;
    padding: 50px;
    width: 455px;
  }

  .about-me-photo {
    width: 240px;
    height: 310px;
  }

  .about-me-photo--1,
  .about-me-photo--2 {
    left: -30px;
  }

  .about-me-photo--3 {
    right: -30px;
  }

  .set-white {
    border-width: 55px;
    width: 550px;
    height: 550px;
    top: 245px;
  }

  .set-yellow {
    border-width: 30px;
    width: 275px;
    height: 275px;
    top: 185px;
    right: 160px;
  }

  .set-blue {
    border-width: 35px;
    width: 400px;
    height: 400px;
    right: 90px;
    top: 585px;
  }

  .portfolio-item {
    width: 300px;
    height: 375px;
  }

  .portfolio {
    padding: 100px 0;
  }

  .item-info {
    font-size: 13px;
  }

  .hero-image-contact {
    width: 450px;
  }

  .contacts-form,
  .success-form {
    width: 360px;
    height: 450px;
  }


  .contact-title {
    font-size: 29px;
  }

  .input {
    margin-top: 15px;
  }

  .input::-webkit-input-placeholder {
    font-size: 15px;
  }

  .input::-moz-placeholder {
    font-size: 15px;
  }

  .input:-ms-input-placeholder {
    font-size: 15px;
  }

  .input::-ms-input-placeholder {
    font-size: 15px;
  }

  .input::placeholder {
    font-size: 15px;
  }

  .square {
    border-width: 26px;
    width: 270px;
    height: 270px;
    bottom: 120px;
    right: 90px;
  }


  .square::after {
    width: 100px;
    height: 100px;
    bottom: 260px;
    right: 300px;
  }

  .square::before {
    width: 55px;
    height: 55px;
    left: 60px;
    bottom: 300px;
  }

  .message-wrapper:before {
    top: 20px;
    left: 100px;

  }

  .message-wrapper::after {
    top: 20px;
    right: 70px;

  }

}

@media (max-width: 895px) {
  .container {
    max-width: 680px;
  }

  .logo {
    width: 35px;
    height: 35px;
  }


  .social {
    -ms-flex-preferred-size: 22%;
    flex-basis: 22%;
    -webkit-transform: translateX(45%);
    -ms-transform: translateX(45%);
    transform: translateX(45%);
  }

  .social-icon {
    width: 21px;
    height: 21px;
  }

  .btn {
    padding: 11px 32px;
    font-size: 15px;
  }

  .header {
    padding-top: 130px;
  }

  .header-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .main {
    -ms-flex-item-align: start;
    align-self: flex-start;
  }

  .hero {
    -ms-flex-item-align: end;
    align-self: flex-end;
    margin-right: 5%;

  }

  .hard-skills {
    width: 85px;
    height: 85px;

  }

  .about-me-photo {
    display: none;
  }

  .set-white {
    border-width: 50px;
    width: 500px;
    height: 500px;
  }

  .set-yellow {
    border-width: 25px;
    width: 250px;
    height: 250px;
    right: 80px;
    top: 60px;
  }

  .set-blue {
    border-width: 35px;
    width: 350px;
    height: 350px;
    right: 15px;
    top: 575px;
  }

  .portfolio-item {
    width: 225px;
    height: 310px;
  }



  .contact-wrapper {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

  }

  .contacts-form,
  .success-form {
    -ms-flex-item-align: start;
    align-self: flex-start;
  }

  .contacts-wrapper-hero {
    -ms-flex-item-align: end;
    align-self: flex-end;
    margin-right: 5%;

  }

  .name {
    font-size: 18px;
  }

  .hero-image-contact {
    margin-top: 20px;
    top: 49px;
    width: 400px;
    height: 400px;

  }

  .square {
    border-width: 26px;
    width: 270px;
    height: 270px;
    bottom: 70px;
    left: 90px;
  }


  .square::after {
    width: 120px;
    height: 120px;
    bottom: 450px;
    right: 300px;
  }

  .square::before {
    width: 75px;
    height: 75px;
    left: -20px;
    bottom: 365px;
  }

  .success-form {
    width: 350px;
  }

  .promocode-wrapper {
    width: 300px;
    height: 300px;
  }

  .promocode-wrapper::after {
    bottom: -25px;
    left: 250px;
  }

  .promocode-wrapper::before {
    top: -15px;
    left: -20px
  }

  .item-title {
    font-size: 18px;
  }

  .item-info {
    display: none;
  }

  .success-subtitle {
    font-size: 16px;
  }

  .promocode {
    font-size: 30px;
  }

  .message-wrapper:before {
    top: 20px;
    left: 70px;

  }

  .message-wrapper::after {
    top: 20px;
    right: 40px;


  }

}


@media (max-width: 680px) {
  .container {
    max-width: 85%;
  }

  .logo {
    width: 28px;
    height: 28px;
  }

  .social-icon {
    width: 20px;
    height: 20px;
  }

  .bm-burger-button {
    top: 12px;
  }

  .menu-wrapper {
    height: 60px;
  }


  .main {
    margin-bottom: 70px;
  }

  .set-yellow {
    right: 10px;
  }

  .portfolio-items {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

  }

  .portfolio-item {
    -ms-flex-preferred-size: 45%;
    flex-basis: 45%;
  }



  .item {
    display: none;
  }

  .item-link::before {
    width: 0;
  }


  .portfolio-item:last-child {
    margin-top: 30px;
  }

  .square::after {
    right: 300px;
    bottom: -20px;
  }

  .error {
    font-size: 14px;
  }

  .message-wrapper:before,
  .message-wrapper::after {
    display: none;

  }

}


@media (max-width: 600px) {

  .to-top {
    right: 35px;
  }

  .bm-burger-button {
    width: 44px;
    height: 38px;
  }

  .hero {
    margin-right: 0;
  }

  .social {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    -webkit-transform: translateX(-60%);
    -ms-transform: translateX(-60%);
    transform: translateX(-60%);
  }

  .hello-container {
    font-size: 33px;

  }


  .hello-container::after {
    right: 20px;
  }


  .main-title {
    font-size: 50px;
    line-height: 55px;
  }

  .main-description {
    font-size: 16px;
  }

  .main-button {
    padding: 12px 36px;
    font-size: 15px;
  }

  .set-background {
    border-width: 33px;
  }

  .sass {
    top: -15px;
    right: 270px;
  }

  .figma {
    right: 347px;
  }

  .hero-image {
    bottom: -83px;
  }

  .hard-skills {
    width: 80px;
    height: 80px;
  }

  .section-title,
  .menu-title {
    font-size: 30px;
  }

  .set-white {
    display: none;
  }

  .about-me-information {
    font-size: 16px;
    padding: 30px;
    width: 420px;
  }

  .set-blue {
    border-width: 25px;
    width: 300px;
    height: 300px;
    right: 159px;
    top: 660px;
  }

  .set-yellow {
    border-width: 20px;
    width: 250px;
    height: 250px;

  }

  .portfolio {
    padding: 80px 0;
  }

  .contact-title {
    font-size: 27px;
    margin-bottom: 18px;
  }

  .call,
  .write {
    margin-bottom: 6px;
    font-size: 15px;
  }

  .contact-link {
    font-size: 17px;
  }

  .input::-webkit-input-placeholder {
    font-size: 14px;
  }

  .input::-moz-placeholder {
    font-size: 14px;
  }

  .input:-ms-input-placeholder {
    font-size: 14px;
  }

  .input::-ms-input-placeholder {
    font-size: 14px;
  }

  .input::placeholder {
    font-size: 14px;
  }

  .hero-image-contact {
    margin-top: 30px;
    top: 46px;
  }

  .square {
    border-width: 22px;
    width: 220px;
    height: 220px;
    bottom: 70px;
    left: 150px;
  }

  .square::after {
    border-width: 10px;
    width: 100px;
    height: 100px;
    right: 250px;
    bottom: -20px;
  }

  .square::before {
    border-width: 5px;
    width: 50px;
    height: 50px;
    left: 0;
    bottom: 265px;
  }

  .copyright {
    font-size: 14px;
  }

  .duck {
    width: 100px;
    height: 100px;
  }

  .message {
    width: 220px;
  }

  .message-title {
    font-size: 18px;

  }


}

@media(max-width: 495px) {
  .to-top {
    bottom: 40px;
    right: 25px;
  }


  .social {
    display: none;
  }

  .social--sidebar {
    visibility: visible;
    opacity: 1;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin: 20px 0 40px 0;
  }

  .social-link--sidebar {
    margin-right: 10px;


  }

  .section-title,
  .menu-title {
    font-size: 28px;
  }

  .logo {
    -webkit-transform: translateX(150%);
    -ms-transform: translateX(150%);
    transform: translateX(150%);
  }

  .menu-wrapper {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
  }

  .bm-burger-button {
    top: 10px;
  }

  .hello-container {
    font-size: 30px;
    padding: 0 30px;

  }

  .hello-container::before,
  .hello-container::after {
    font-size: 35px;
  }

  .hello-container::after {
    right: 60px;
  }

  .hello-items {
    padding-left: 145px;
  }

  .main {
    margin-bottom: 90px;
  }

  .main-title {
    font-size: 44px;
    line-height: 52px;
  }

  .hero-image {
    width: 210px;
    top: 14px;
  }

  .set-background {
    border-width: 20px;
    width: 300px;
    height: 300px;
  }

  .hard-skills {
    width: 75px;
    height: 75px;
  }

  .sass {
    top: -5px;
    right: 240px;
  }

  .figma {
    top: 100px;
    right: 285px;
  }

  .js {
    top: 200px;
    right: 263px;
  }

  .react {
    top: -10px;
    left: 235px;
    ;
  }

  .about-me-information {
    width: 370px;
  }


  .portfolio-item {
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%;
    margin: 0 0 30px 0;
  }

  .portfolio-item:last-child {
    margin: 0;
  }

  .btn {
    font-size: 14px;
  }

  .portfolio-button {
    width: 270px;

  }

  .contacts-button {
    width: 170px;
  }

  .input {
    padding: 10px 10px 10px 30px;
  }

  .square {
    bottom: 35px;
    left: 75px;
  }

  .square::after {
    top: 0;
    right: 228px;

  }

  .success-form {
    z-index: 3;
  }

  .success-title {
    font-size: 32px;
  }

  .footer-logo {
    width: 24px;
    margin-right: 10px;
  }

  .copyright {
    font-size: 13px;
  }

  .hero-image-contact {
    width: 300px;
    height: 300px;
    top: 38px;
    margin-right: 20px;
  }

  .contacts-wrapper-hero {
    -ms-flex-item-align: end;
    align-self: flex-end;
  }

  .duck {
    width: 90px;
    height: 90px;
  }

  .message-wrapper {
    margin-bottom: 25px;

  }

}

@media(max-width: 395px) {

  .to-top {
    bottom: 45px;
    right: 20px;
    width: 40px;
    height: 40px;
  }

  .to-top-icon {
    width: 20px;
    height: 20px;
  }

  .main {
    max-width: 300px;
    margin-bottom: 80px;
  }

  .hello-container {
    font-size: 27px;
    left: -10px;
  }

  .hello-items {
    padding-left: 130px;
  }


  .hello-container::after {
    right: 10px;
  }

  .set-background {
    width: 220px;
    height: 220px;
  }

  .hero-image {
    top: 6px;
  }

  .hard-skills {
    width: 70px;
    height: 70px;
  }

  .sass {
    top: -25px;
    right: 160px;
  }

  .figma {
    top: 63px;
    right: 205px;
  }

  .js {
    top: 158px;
    right: 178px;
  }

  .react {
    top: -28px;
    left: 159px;
  }

  .about-me-information {
    width: 300px;
    padding: 30px;
  }

  .set-yellow,
  .set-blue {
    display: none;

  }

  .portfolio-item {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
  }

  .call,
  .write {
    font-size: 13px;
  }

  .contact-link {
    font-size: 14px;
  }

  .contacts-form,
  .success-form {
    max-width: 280px;
  }


  .square {
    border-width: 16px;
    width: 180px;
    height: 180px;
    bottom: 50px;
    left: 50px;

  }

  .square::after {
    display: none;
  }



  .success-form {
    width: 320px;
  }

  .promocode-wrapper {
    width: 240px;
    height: 240px;
  }

  .promocode-wrapper::after,
  .promocode-wrapper::before {
    display: none;
  }

  .success-title {
    font-size: 28px;
  }

  .success-subtitle {
    font-size: 14px;
    margin-bottom: 0;
  }

  .promocode {
    font-size: 22px;
  }

  .hero-image-contact {
    width: 255px;
    height: 255px;
    top: 32px;


  }

  .contacts-wrapper-hero {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .duck {
    -ms-flex-item-align: end;
    align-self: flex-end;
  }

  .message-wrapper {
    margin-bottom: 30px;
    height: 120px;
  }

  .message {
    width: 190px;
  }

  .message-title {
    font-size: 15px;

  }

}