/* FOOTER */

.footer {
  padding: 30px 0 20px 0;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}

.footer-logo {
  fill: #414141;
  width: 28px;
  height: 28px;
  -webkit-transition: all .4s ease 0s;
  -o-transition: all .4s ease 0s;
  transition: all .4s ease 0s;
  margin-right: 15px;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #cccccc;
  margin-top: 20px;
}

.message-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;

}

.message-wrapper:before {
  content: '{';
  font-size: 170px;
  top: 20px;
  left: 270px;
  color: #4e4e4e;
  position: absolute;
}

.message-wrapper::after {
  content: '}';
  font-size: 170px;
  top: 20px;
  right: 240px;
  color: #414141;
  position: absolute;

}


.message {
  position: relative;
  width: 240px;
  padding: 10px 15px;
  height: 70px;
  background: #fff;
  -ms-flex-item-align: start;
  align-self: flex-start;
  border-radius: 12px;
  -webkit-box-shadow: -10px 15px 5px rgba(0, 0, 0, 0.151);
  box-shadow: -10px 15px 5px rgba(0, 0, 0, 0.151);
}

.message::before {
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #fff;
  content: '';
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  top: 65px;
  left: 0;

}

.message-title {
  font-family: 'Montserrat-Regular', sans-serif;
  color: #000;
  font-size: 20px;

}

.duck {
  width: 120px;
  height: 120px;
}